<h1>Escambia County Voting System</h1>



<form method="post" action="/">
    <div>
    <label for="precinct">Precinct</label>
    <select name="precinct" id="precinct">
        <option value="1">District 1</option>
        <option value="2">District 2</option>
        <option value="3">District 3</option>
        <option value="4">District 4</option>
        <option value="5">District 5</option>
    </select>
    </div>
    <div>
    <label for="voterId">Voter ID</label>
    <input type="text" name="voterId" id="voterId">
    </div>

    <div>
        <input type="submit" value="Sign In">
    </div>
</form>